*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    width: 100%;

    
}

html{
    font-size: 62.5%;

    // @include responsive(big-desktop){
    //     font-size: 75%;
    // }

    @include responsive(tab-land){
        font-size: 56.25%;
    }

    @include responsive(tab-port){
        font-size: 50%;
    }



}

main{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;

    -webkit-transform: translateX(0);
    transform: translateX(0);
    
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
   
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
  
}
.add__to-do{
    
    -webkit-transform: translateX(0);
    transform: translateX(0);
    
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
   
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
  
}

.show-nav main {
    -webkit-transform: translateX(362.81px);
    transform: translateX(362.81px);
    
    -webkit-transform: translate3d(362.81px, 0, 0);
    transform: translate3d(362.81px, 0, 0);
  }

  .show-nav .add__to-do {
      @include responsive(phone){
        -webkit-transform: translateX(362.81px);
        transform: translateX(362.81px);
        
        -webkit-transform: translate3d(362.81px, 0, 0);
        transform: translate3d(362.81px, 0, 0);
    
      }
  }


a{
    text-decoration: none;
    
}

.row{
    max-width: 114rem;
    margin: 0 auto;

      &::after{
          content: '';
         display: table;
         clear: both;
      }
}
.row-nonresponsive{
    max-width: 114rem;
    margin: 0 auto;

      &::after{
          content: '';
         display: table;
         clear: both;
      }

}


.row-mid{
    max-width: $grid-width;
    margin: 0 auto;

    @include responsive(phone){
        width: 100vw;
    }

    @include responsive(phone){
        padding: 3rem;
    }



      &::after{
          content: '';
         display: table;
         clear: both;
      }

      &:not(:last-child){
        margin-bottom: $gutter-vertical;
      }
}

.container{
    margin-right: 30%;
}

input{
    font-size: 2.3rem;
    color: $color-primary-grey;
    border: none;
    border-bottom: 1px solid $color-primary-grey;
    
    &::placeholder{
        color: $color-primary-grey;
        opacity: .6;
    }

    &:focus{
        outline: none;
    }
}