$color-primary-white: #fff;
$color-primary-grey: #707070;
$color-primary: #51A7FF;
$color-grey-light: #D5D5D5;
$color-grey-light-2: #AEAEAE;
$color-grey-light-3: #efefef;
$color-grey-dark: #1A1A1A;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;