.more{
    display: none;
    font-size: 1.3rem;
    width: 23.5rem;
    height: 11.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;

    &__box{
        background: $color-primary-white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
        padding: 1rem 3rem 1rem 1rem;
        border-radius: 14px;
    }

    &__list{
        list-style: none;
        cursor: pointer;

        &--item{
            padding: .4rem 0 .4rem .5rem;

            i{
                margin-right: 0.5rem;
            }
                    &:hover{
                        background-color: darken($color-primary-white, 10);
                        border-radius: 3px;
                    }
        }

    }
}