.search{


    
    &__input{
        margin-top: 7rem;
        padding: 2rem 30rem .75rem 0rem;

        &--box{
            display: inline-block;
            position: relative;
        }
    }

    .add__to-do{
        display: inline-block;
        position: relative;
        margin-left: 6rem;
        vertical-align: text-bottom;
        @include addItemCircle(56px, 56px);
        background-color: $color-primary;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
        transition: all 0.2s;

        &--span{
            display: inline-block;
            width: 100%;
            height: auto;

            i{
                width: 55%;
                height: auto;
                @include plusSign(4px, $color-primary-white);
                @include addItemIcon($color-primary-white, 3rem);
                transform: translate(-50%,-50%);
            }
        }


        &:hover{
            background-color: transparent;
            box-shadow: none;

            i{
                @include plusSign(4px, $color-primary);
                @include addItemIcon($color-primary, 3rem);

            }
    
        }
    }

}
