.nav{
    display: block;
    background-color: $color-primary;
    height: 100vh;
    padding: 4rem 5rem 5rem 3rem;
    color: $color-primary-white;
    position: relative;

    &__content{
        height: 100%;
    }
    // top
    .nav__projects{
        margin-top: 5rem;
    }

    .nav__projects--list{
        // margin-left: 1.5rem;

        .nav__projects--item{
            font-size: 2.2rem;
            list-style: none;
            padding: 1rem;
            border-radius: 4px;
            border-bottom: 1px solid rgba(226, 226, 226, 0.233);
            transition: all 0.3s;
            cursor: pointer;

            &:hover{
                background-color: darken($color-primary, 5);
            }

            a{
             color: inherit;
             text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
            }
        }

        .nav__projects--add-item{
            display: inline-block;
            list-style: none;
            font-size: 1.5rem;
            margin-top: 1.5rem;
            position: relative;
            cursor: pointer;

            a{
                color: #CFE7FF;
                vertical-align: middle;
                text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

            }

            &:hover  .nav__add-item--icon{
                background-color: transparent;
                box-shadow: initial;

                i{
                    color: $color-primary-white;
                }
            }

            .nav__add-item--icon{
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-right: 3px;
                vertical-align: middle;
                background-color: $color-primary-white;
                position: relative;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
                transition: all 0.3s;

                i{ 
                    font-size: 1rem;
                    color: $color-primary;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-55%,-50%);
                    transition: all 0.3s;
                }
            }
        }
    }


    // bottom 
    &__bottom{
        position: absolute;
        bottom: 4rem;
        .nav__days{
            display: block;
            list-style: none;
            width: 100%;

            &--item{
                display: block;
                padding: 1rem;
                border-radius: 4px;
                border-bottom: 1px solid rgba(226, 226, 226, 0.233);
                transition: all 0.3s;
    
                &:hover{
                    background-color: darken($color-primary, 5);
                }

                a{
                    font-size: 3rem;
                    font-weight: 700;
                    color: inherit;
                }
            }
        }
    }
}


